.selected-works {
  color: gray;
}

.works-description {
  text-align: right;
  line-height: 1.5em;
}

.socials {
  text-decoration: none;
  color: #0055bb;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-areas: "sidebar content";
}
.box {
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 768px) {
  .wrapper {
  grid-template-columns: none;
     grid-template-rows: repeat(auto, 1fr);
      grid-template-areas:
    "sidebar"
    "content";
  }
}
