<div class="flex align-center justify-between">
  <label for="menu-control">
    <img src="{{ "svg/menu.svg" | relURL }}" class="book-icon" alt="Menu" />
  </label>

  {{if .IsHome }}
  <i>{{ .Site.Title }}</i>
  {{ else }}
  <i>{{ partial "docs/title" . }}</i>
  {{ end }}

  <label for="toc-control">
  </label>
</div>
